name: Check and Publish to Azure Artifacts

on:
  push:
    tags:
      - '*'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  check:
    name: Run Gradle Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Run Gradle Check
        run: ./gradlew check

  PublishToAzureArtifacts:
    name: Publish to Azure Artifacts
    needs: check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Determine release version
        id: version
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "release_version=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT
          else
            sha="${{github.event.pull_request.head.sha}}"
            echo "release_version=${sha::7}" >> $GITHUB_OUTPUT
          fi

      - name: Publish to Azure DevOps Artifacts
        run: |
          echo 'Publishing commit build for SHA Short: "${{ env.RELEASE_VERSION }}"'
          ./gradlew publish
        env:
          AZURE_DEVOPS_ARTIFACT_USERNAME: ${{ secrets.AZURE_DEVOPS_ARTIFACT_USERNAME }}
          AZURE_DEVOPS_ARTIFACT_TOKEN: ${{ secrets.AZURE_DEVOPS_ARTIFACT_TOKEN }}
          RELEASE_VERSION: ${{ steps.version.outputs.release_version }}
          shell: bash