name: Renovate Config Tests

on:
  push:
  pull_request:

env:
  LOG_LEVEL: debug

jobs:
  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        file:
          - sscs-renovate
          - renovate
    env:
      RENOVATE_CONFIG_FILE: .github/${{ matrix.file }}.json

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: testing ${{ matrix.file }}
        run: npx -p renovate renovate-config-validator
